.Tools {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  margin-top: -1rem;

  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 98%, 0 70%);
  background:  rgb(255,120,124);

  .ToolsWrapper{
    display: block;
    margin-left: 2rem;

    h1{
      font-size: 3rem;
      font-family: 'Poppins', sans-serif;
      text-align: left;
    }
  }
}

.ToolList{
  display: flex;
  align-items:center;
  overflow-x: scroll;
  .ToolLogo{
    margin: 1rem;
    
    .ToolLogoImg{
      min-height: 2.5rem;
      max-height: 3rem;
    }
    .long{
      min-width: 4.5rem;
      max-height: 4rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .Tools{
    .ToolsWrapper{
      margin-left: 0rem;
    }
  }
}
