.Contact{
  background: rgb(19, 19, 20);
  color: white;
  height: 22rem;
  padding-top: 6rem;
  padding-right: 6rem;

  h1 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    margin-top: 0.8rem;
  }
}

.Resources{
  display: flex;
  flex-direction: row-reverse;

  a{
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    img {
      height: 2rem;
    }

  }
  
}
